{% extends 'layout.html' %}

{% block content %}

<h1 class="fs-2">Familiares</h1>


{% for familiar in familiar %}

<div class="py-3">

  <div class="card card-body bg-black">
    <div class="row">

      <div class="col-3">
        <img class="img-fluid" src="{{familiar.image.url}}" alt="">

      </div>
      <div class="col-9">

        <h1>{{familiar.Familiar}}</h1>
        <p>{{familiar.Nombre}}</p>
        <p>{{familiar.apellido}}</p>
        <p>{{familiar.Edad}}</p>

        
      </div>
    </div>
  </div>
</div>

{% endfor %}

{% endblock %}